/* 1 - Integração Inicial */
h1 {
    color: red
}

/* 2 - Comentários com CSS */

/* 3 - ID */
#title {
    color: green;
}

/* 4 - Classes */
.text {
    color: blueviolet;
}

/* 5 - Background */
.background {
    background-color: red;
    color: blue;
    font-size: 30px;
}

/* 6 - Dois elementos, uma regra */

p, .title-small {
    color: yellowgreen;
}

/* 7 - Background-Image */
.background-image {
    background-image: url(../img/meteoro.jpg);
    color: whitesmoke;
    padding: 20px;
}

/* 8 - Largura e Altura */
#width-height {
    width: 200px;
    height: 100px;
    background-color: black;
}

/* 9 - Padding- */
#padding {
    background-color: red;
    padding: 20px;
}

/* 10 - Margin */
#margin {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20px;
}

/* 11 - Border */
#border {
    border: 3px solid pink;
    width: 100px;
    height:100px;
    padding: 40px;
    margin: 30px;
}

/* 12 - Border radius */
#border-radius {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px dashed blue;
    border-radius: 10px;
}

/* 13 - Cores */
#hex {
    background-color: #25AF1E;
}

#rgb {
    background-color: rgb(123, 40, 169);
}

#hsl {
    background-color: hsl(200, 20%, 44%);
}

/* 14 - Alinhamento */
#center {
    text-align: center;
}

p {
    font-size: 35px;
}

/* 15 - Decoration */
#underline {
    text-decoration: underline;
}

#line {
    text-decoration: line-through;
}

#sem-underline {
    /* Tira o sublinhado do link */
    text-decoration: none; 
}

/* 16 - font-size */
#fonte-pequena {
    font-size: 10px;
}

/* 17 - transform */
#lower {
    text-transform: lowercase;
}

#upper {
    text-transform: uppercase;
}

/* 18 - font family */
#serif {
    font-family: Georgia;
}

#sans-serif {
    font-family: Helvetica;
}

#cursive {
    font-family: cursive;
}

/* 19 - Display */

.inline {
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 5px;
    display: inline-block;
}

.block  {
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 5px;
    display: block;
}

/* 20 - Ocultando elemento */

#none {
    display: none;
}

/* 21 - position */
#relative, #absolute, #fixed {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#relative {
    background-color: blueviolet;
    position: relative;
    top: 50px;
    left: 20px;
}

/* Mover o elemento no elemento PAI */
/* Aqui ele está se movendo em relação ao body (tela inteira) 50 pixels pra baixo do inicio e 50px pra esquerda */
#absolute {
    background-color: #321;
    position: absolute;
    top: 50px;
    right: 50px;
}

/* O elemento acompanha o scroll da tela, poderia ser uma barra de navegação pois fica fixo*/
#fixed {
    background-color: #555;
    position: fixed;
    top: 100px;
    left: 45px;
}
/* 22 -  Relative com absolute */
#relative-2{
    border: 3px solid red;
    width: 300px;
    height: 300px;
    position: relative;
}

#absolute-1, #absolute-2 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: blue;
}

#absolute-1{
    top: 10px;
    left: 10px;
}

#absolute-2 {
    bottom: 10px;
    right: 10px;
}
